### 라즈베리파이 사물 제어 IOT 평가

1. 키보드로 두 수를 입력받아 큰 수부터 출력하는 프로그램을 작성하시요. 단, 입력받는 두 수는 중복이 없다고 가정한다.

In [57]:
# 1번 문제 답안 작성
n1 = int(input('정수입력: '))
n2 = int(input('정수입력: '))

print(max(n1,n2), min(n1,n2))

5 2

2. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오.<br> 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오.

In [60]:
# 2번 문제 답안 작성

numberList = []
numberList.append(int(input('정수입력:')))
numberList.append(int(input('정수입력:')))
numberList.append(int(input('정수입력:')))

print(max(numberList) - min(numberList))

9

3. 매개변수로 두 정수를 받아, 두 정수 사이의(두 정수 포함) 모든 정수를 갖는 리스트를 리턴하는 함수를 구현하시오.

In [11]:
# 3번 문제 답안 작성

num1 = int(input('정수입력: '))
num2 = int(input('정수입력: '))

arr1 = []
numMin = min(num1,num2)
numMax = max(num1,num2)

for i in range(numMin, numMax+1) :
  arr1.append(i)

print(arr1)

[5, 6, 7, 8, 9, 10]

4. 아래 제시된 phone 객체에 제조사, 모델명, 가격 정보를 키보드로 입력받아,   
입력받은 내용을 추가하고 phone 정보를 출력하시오.

In [62]:
phone = {}

# 4번 문제 답안 작성
phone['brand'] = input('brand : ')
phone['modelName'] = input('medelName : ')
phone['price'] = int(input('price : '))

print(phone)

{'brand': '삼성', 'modelName': '갤럭시', 'price': 100000}

5. 아래 데이터는 자바반과 자반에 소속된 학생들의 정보이다.  
나이가 30살 이상인 학생들의 점수의 합을 출력하세요.

In [54]:
javaClass= {
  'calssName' : '자바반',
  'teacher' : '김자바',
  'studentList' : [
    {'name' : '홍길동', 'age': 31, 'score' : 85},
    {'name' : '이순신', 'age': 35, 'score' : 95},
    {'name' : '유관순', 'age': 29, 'score' : 80},
    {'name' : '장영실', 'age': 37, 'score' : 70},
    {'name' : '신사임당', 'age': 25, 'score' : 65},
  ]
}

# 5번 문제 답안 작성
ageSum = 0

for stu in javaClass['studentList'] :
  if(stu['age']>=30) :
    ageSum = ageSum+ stu['score']

print(ageSum)

250

다음 딕셔너리 데이터를 참고하여 아래 문제들을 해결하시오.

In [102]:
# 2012년 광역시별 25세 미만 연령별 인구 데이터
population = {
    '행정기관' : ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'],
    '0~4세' : [214651, 68006, 53515, 69453, 29835],
    '5~9세' : [210833, 68704, 58332, 68555, 29331],
    '10~14세' : [269171, 94802, 91268, 86574, 29035],
    '15~19세' : [335828, 124564, 101110, 106435, 49119],
    '20~24세' : [343797, 125907, 96078, 102297, 43937]
}

6. 2012년 기준 대한민국에서 25세 미만의 인구수 중 인구가 가장 많은 연령대를 출력하시오.

In [157]:
# 6번 문제 답안 작성

{'행정기관': ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'], '0~4세': [214651, 68006, 53515, 69453, 29835], '5~9세': [210833, 68704, 58332, 68555, 29331], '10~14세': [269171, 94802, 91268, 86574, 29035], '15~19세': [335828, 124564, 101110, 106435, 49119], '20~24세': [343797, 125907, 96078, 102297, 43937]}

TypeError: string indices must be integers, not 'str'

7. '총 인구수' 라는 키를 추가하고, 해당 키에 0세부터 24세까지의 인구 합을 데이터로 하여 population 데이터에 추가하시오.

In [ ]:
# 7번 문제 답안 작성